
span.header {
margin-top: 118px;  
}

header.top {
  
  height: 400px;
  width: 100%;
  display:flex;
  flex-direction: column;
  background-color: rgb(162, 189, 238);
  background-image: url(http://www.transparenttextures.com/patterns/az-subtle.png);
  justify-content: center;
  align-items: center;
 }
 header.top div {
  justify-content: center;
 }

header.top div img {
  display:flex;
  size: 80%;
  justify-content: center;
}

header.top h2 {
  margin: 0;
  color: white;
  font-weight: lighter;
}

header.top h2 strong{
  font-weight:700;
}



/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */


@media only screen and (min-width: 1024px) {
  span.header {
    display: flex;
    width:48%;
    padding: 4em 0 4em 3em;
   }
   
   header.top {
    width: 75%
   }
}

