nav {
  display: none;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  color: #FFFFFF;
  background-color: rgb(162, 189, 238);
  background-image: url(http://www.transparenttextures.com/patterns/az-subtle.png);
  height: 120px;
  width: 100%
}
nav span {
  padding-left: 1.5em;
  padding-bottom: 0.5em;
  align-self: flex-end;
  font-family: "Bungee", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 180%;
}

nav div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding-right: 1.5em;
}

nav p {
  margin-bottom: 0px;
  padding-bottom: 0.2em;
  padding-right: 1em;
  font-weight: lighter;
}

nav i {
  align-self: center;
  color: crimson;
}

/* background-image: url(http://www.transparenttextures.com/patterns/az-subtle.png); */


@media only screen and (min-width: 1024px) {
  nav {
    background-color: #4056A1;
    background-image: none;
  }
  nav p {
    padding-right: 2em;
  }

}
