section {
  display: flex;
  flex-direction: column;
  margin: 1em;
}

section.new-tweet h2 {
  display: none;
}

section div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 5px;
}

.user-instructions {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items:baseline;
}

div.error-message {
  display: none;
  padding: .3em .6em .1em .6em;
  margin-left: 2em;
  border: solid 2px red;
  background-color: #f4f1ec;
  color: #cc0000;
  font-weight: 500;
  font-size: large;
}


label {
  display: block;
  padding-bottom: .4em;
  
}

form {
  width: inherit;
  background-color: #f4f1ec;
}
form textarea {
  width: 100%;
  background-color: #f4f1ec;
  outline: 0; 
  border-width: 0 0 4px; 
  border-color: #545149; 
}

.tweet-button {
  background-color: #4056A1;
  border: none;
  color: white;
  padding: 10px 10px;
  text-align: center;
  display: inline-block;
  font-size: 0.8em;
  width: 5em;
  font-family: "Bungee", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.out-of-characters {
  color: red;
}

@media only screen and (min-width: 1024px) {

  main.container {
    display: flex;
    flex-direction: column;
    padding-top: 2.5em;
    width:60%;
    margin-top: 118px; 
  }
  section.new-tweet {
    display: flex;
    width:97%;
    justify-content: center;
  }

};